* {
  box-sizing: border-box;
  font-family: Garamond, serif;
}

body {
  margin: 5px;
  font-family: Garamond, serif;
}

/* Center child elements */
body,
.website-counter {
  
  justify-content: center;
  align-items: center;
  
}

h3 {
	text-align: center;
}

#left {
	float:left;
}

#right {
	float:right;
}


/* Style the top navigation bar */
.header {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  text-align: center;
  color: #ddd;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.maincontent {
  background-color: #ddd;
  padding: 10px;
	
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 18px;
	font-weight: bold;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  background-color: #f1f1f1;
	
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}



.blist {
	columns: 100px 3;
	column-gap: 0;
}

.employ {
	display: block;
	font-weight: bold;
}


